* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Actor', 'Rubik';
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    background: #E5E5E5;
}
.main {
    height: 1024px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 40px;
    display: flex;
}
.aside-1 {
    width: 130px;
    height: 1024px;
}
.aside-1-img {
    margin-left: 50px;
    margin-top: 50px;
    height: 25.714282989501953px;
    width: 30px;
}
.aside-1--container {
    height: 752px;
    width: 50px;
    padding-left: 40px;
    margin-top: 116.29px;
}    
.aside-1--container img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.major {
    height: 1024px;
    width: 983px;
    background: #FAFAFA;
    border-radius: 40px 0px 0px 40px;
}
.major--nav ul {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    padding: 0px;
    list-style: none;
    margin-bottom: 9px;
}
.major--nav ul li {
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(160, 168, 177, 1);
    margin-left: 38px;

}
.major--nav ul li a {
    text-decoration: none;
    color: rgba(160, 168, 177, 1);
}
.prediction-container {
    height: 350px;
    width: 923px;
    left: 160px;
    top: 118px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border-radius: 25px;
    margin-top: 37px;
    padding-left: 31px;
    padding-top: 70px;
}
.prediction-subcontainer-1 {
    height: 210px;
    width: 370px;
   
}
.prediction-subcontainer-1 h1 {
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: rgba(38, 29, 86, 1);
    margin-bottom: 8px;

}
.prediction-subcontainer-1 p {
    height: 60px;
    width: 315px;
    font-family: Actor;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(157, 161, 180, 1);
    margin-bottom: 25px;
}
.prediction-subcontainer-btn {
    height: 45px;
    width: 180px;
    left: 191px;
    top: 353px;
    border-radius: 8px;
    background: rgba(98, 60, 234, 1);
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border: none;
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);


}