* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Actor', 'Rubik' , 'Roboto';
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    background: #E5E5E5;
}
.main {
    height: 1024px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 40px;
    display: flex;
}
.aside-1 {
    width: 9.1%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -46px;;
}
.aside-1-img {
    /* margin-left: 50px; */
    margin-top: -12px;
    height: 25.714282989501953px;
    width: 30px;
    position: relative;
    left: 40px;
}
.aside-1--container {
    height: 752px;
    width: 50px;
    padding-left: 40px;
    margin-top: 116.29px;
}    
.aside-1--container img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-right: 40px;
}
.major {
    height: 1024px;
    width: 983px;
    background: #FAFAFA;
    border-radius: 40px 0px 0px 40px;
    /* margin-right: 31px; */
}
.major--nav ul {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    padding: 0px;
    list-style: none;
    margin-bottom: 9px;
}
.major--nav ul li {
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(160, 168, 177, 1);
    margin-left: 38px;

}
.major--nav ul li a {
    text-decoration: none;
    color: rgba(160, 168, 177, 1);
}
.prediction-container {
    height: 350px;
    width: 879px;
    margin-left: 30px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border-radius: 25px;
    margin-top: 37px;
    padding-left: 31px;
    padding-top: 70px;
    display: flex;
}
.prediction-subcontainer-1 {
    height: 210px;
    width: 370px;
   
}
.prediction-subcontainer-1 h1 {
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: rgba(38, 29, 86, 1);
    margin-bottom: 8px;

}
.prediction-subcontainer-1 p {
    height: 60px;
    width: 315px;
    font-family: Actor;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(157, 161, 180, 1);
    margin-bottom: 25px;
}
.prediction-subcontainer-btn {
    height: 45px;
    width: 180px;
    left: 191px;
    top: 353px;
    border-radius: 8px;
    background: rgba(98, 60, 234, 1);
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border: none;
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}
.prediction-subcontainer-2 img {
    position: absolute;
    left: 504px;
    top: 81px;
    border-radius: 25px;
    height: 387px;
    width: 488px;
    border-radius: 25px;
    filter: drop-shadow(0px 2px 8px rgba(202, 205, 219, 0.42));
    object-fit: contain;
    
}
/*  football-leagues-sector*/
.football-leagues {
    display: flex;
}
.football-leagues-container-1 {
    height: 465px;
    width: 333px;
    margin-right: 30px;
}
.football-leagues {
    /* margin-top: 42px; */
    margin-left: 30px;
}
.football-leagues-container-1 {
    height: 22px;
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(38, 29, 86, 1);
    margin-bottom: 20px;
    margin-top: 41px;
}
.football-leagues-container-1-1 {
    height: 423px;
    width: 333px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border-radius: 10px;
    margin-top: 20px;
    padding: 31px 30px 32px 30px ;
}
.leagues-subcontainer-1-1 {
    height: 40.345252990722656px;
    width: 273px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32.65px;
}
.leagues-subcontainer-1-1i{
    display: flex;
}
.subcontainer-1-1i-img {
    height: 40.345252990722656px;
    width: 40px;
    object-fit: contain;
    margin-right: 15px;
}
.subcontainer-1-1i-text {
    height: 40px;
    /* width: 99px; */
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #261D56;
}   
.subcontainer-1-1i-text-span {
   font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(157, 161, 180, 1);
}
.leagues-subcontainer-1-1-text {
    height: 15px;
    width: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(157, 161, 180, 1);
    margin-top: 10px;
}
.football-leagues-schedule {
    height: 451px;
    width: 542px;
    margin-top: 42px;
}
.leagues-schedule-list {
    display: flex;
    list-style: none;
    height: 22px;
    width: 402px;
    justify-content: space-between;
    margin-bottom: 19px;
}
.leagues-schedule-list li {
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}
.leagues-schedule-list li a {
    text-decoration: none;
    color: rgba(160, 168, 177, 1);
}
.leagues-schedule-list li .matches {
    color: rgba(38, 29, 86, 1);
}
/*leagues-schedule-subcontainer  */
.leagues-schedule-subcontainer {
    height: 50px;
    width: 515px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border-radius: 10px;
    padding: 14px 23px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}
.match-time {
    height: 22px;
    width: 41px;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(202, 206, 211, 1);
}
.match-status,
 .match-status-1 {
    height: 15px;
    width: 57px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 3px;
}
.match-status {
    color: #FF5959;

}
.match-status-1 {
    color: #CACED3;
}
.team-names {
    height: 22px;
     width: 68px; 
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: #261D56;
}
.leagues-schedule-subcontainer img {
    height: 16.135770797729492px;
    width: 12px;
    object-fit: contain;
    margin-top: 3px;

}
.goal-scored {
    height: 15px;
    width: 24px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 3px;
}
.win-chances {
    height: 15px;
    width: 24px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #CACED3;
    margin-top: 3px;
}
/* betting-profile */ 
.betting-profile {
    height: 1024px;
    width: 326px; 
}
.betting-profile-details {
    margin: 50px 8px 40px 12.6px;
    height: 91px;
     /* width: 281.4033203125px;  */
}
.betting-profile-subdetails-1 {
    display: flex;
    justify-content: space-between;
}
.profile-subdetails-1i {
    height: 40px;
    width: 163.4033203125px;
    display: flex;
    
}
.profile-subdetails-1i img {
    margin-right: 10px;
}
.profile-subdetails-1i p {
    font-family: Rubik;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(38, 29, 86, 1);
    margin-top: 5px;
}
.profile-subdetails-1ii {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.profile-subdetails-1ii-balance {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #261D56;
}
.profile-subdetails-1ii-digits {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color: #989CAD;
}